@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(#e7eaea, #0669db);
    font-family: "Arimo", sans-serif;
}

#winnersList {
    background-color: rgb(63, 117, 202);
    padding: 10px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
    width: 80vw;
}

.winnerListDark {
    background-color: #abaaaa !important;
}

#winnersList p {
    border-top: 1px solid rgb(201, 201, 201);
    width: 100%;
    align-self: stretch;
    justify-self: stretch;
    padding: 10px 20px;
    text-transform: uppercase;
    word-spacing: 5px;
    font-weight: 500;
}

#winnersList p:last-child {
    border-bottom: 1px solid rgb(201, 201, 201);
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    justify-self: stretch;
    padding-top: 30px;
    padding-right: 100px;
    gap: 25px;
}

#linkBTn {
    border: none;
    background-color: rgb(7, 7, 180);
    padding: 5px 10px;
    border-radius: 8px;
}

#history {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #212121;
    color: #fff;

    &:hover {
        cursor: pointer;
    }
}

.linkBTnDark {
    background-color: #323232 !important;
}

.historyDark {
    color: #fff !important;
}

.themeBtn img {
    width: 30px;

    &:hover {
        cursor: pointer;
    }
}

.bodyDark {
    background: linear-gradient(#656464, #212121) !important;
}

@media screen and (max-width:800px) {
    #winnersList{
        width: 90%;
    }
      nav {
        background-color: white;
        padding: 10px;
        padding-right: 20px;
        gap: 5px;
        justify-content: space-between;
        position: fixed;
    }
    #linkBTn {
        padding: 5px 10px;
    }

    #history {
        font-size: 16px;

        &:hover {
            cursor: none;
        }
    }

}